@use '@app/styles/variables.scss' as *;

.card {
  border-radius: 16px;
  height: 600px;
  width: 100%;
  color: #000;
  perspective: 1000px;
  position: relative;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card__inner.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 2px solid #000;
  box-shadow: 0px 1px 0px 1px #000;
  color: #000;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-image: url(@assets/gradient.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 $padding-default;
}

.back {
  transform: rotateY(180deg);
}

.cardHandle {
  position: absolute;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 $padding-default;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
