.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;

  &.fullWidth {
    width: 100%;
  }
}

.label {
  font-size: 0.875rem;
  color: #4b5563;
}

.input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #1c274c;
  line-height: 1.2;
  background-color: transparent;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #000;
  font-family: inherit;
  width: 100%;

  &::placeholder {
    color: #404040;
  }

  &:focus {
    outline: none;
    border-color: #3b82f6;
  }

  &.error {
    border-color: #ef4444;
  }

  &:disabled {
    background-color: #f3f4f6;
    cursor: not-allowed;
  }

  &.small {
    font-size: 10px;
  }

  &.medium {
  }

  &.large {
    font-weight: 500;
    font-size: 25px;
  }
}

.errorText {
  font-size: 0.75rem;
  color: #ef4444;
}
