.card {
  border-radius: 16px;
  height: 600px;
  width: 300px;
  color: #000;
  perspective: 1000px;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card__inner.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 2px solid #000;
  box-shadow: 0px 1px 0px 1px #000;
  color: #000;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.front {
  background-color: #bbb;
  color: black;
}

.back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
